 
.kline-head-bar0 {
   /* position: fixed; */
    z-index: 10;
    right: 0;
    left: 0;
    /* top: 0px; */
    height: 35px;

    border-bottom: 0;
    background-color: #1C1F26;
	
}

.kline-head-bar0 .linehead-left1{
	float: left;
	width:25%;
	/* font-family: microsoft yahei; */
	text-align: left;
	font-size: 16px;
	padding-left: 8px;
	padding-top: 6px;
	cursor: pointer;
}
.kline-head-bar0 .linehead-left1 span{
	 
	color: #ddd;
}

.kline-head-bar0 .linehead-left1 span:hover{
	 
	color: #FFff00;
	 
}

.kline-head-bar0 .linehead-left2{
	float: left;
	color: #FFEBCD;
	width:30%;
	/* font-family: "microsoft yahei"; */
	text-align: left;
	font-size: 18px;
	padding-left: 8px;
	padding-top: 9px;
	cursor: pointer;
}

.kline-head-bar0 .linehead-left3{
	float: right;
	width:45%;
	padding-right: 8px;
	padding-top: 8px;
	/* font-family: "microsoft yahei"; */
	font-size: 16px;
}

.kline-head-bar0 .linehead-left3 span{

	color: #ddd;
	float: right;
	width: 30px;
	cursor: pointer;
}

.kline-head-bar0 .linehead-left3 span:hover{

	color: #FFFF00;
	 
}

.kline-head-bar {
    /* position: fixed; */
    z-index: 10;
    right: 0;
    left: 0;
    /* top: 35px; */
    height: 72px;
    padding-right: 10px;
    padding-left: 3px;
    padding-top: 3px;

    border-bottom: 0;
    background-color: #232323;
}

.kline-head-bar-left {
    float: left;
    font-size: 28px;
    width: 90px;
    height: 72px;
    color: #ff3333;
    font-family: tahoma;
}

.kline-head-bar-pz {
    float: top;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 0px;
    text-align: center;
    width: 90px;
    height: 36px;
    color: #ff3333;
    font-family: tahoma;
}

.kline-head-bar-zd {
    float: top;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    padding-left: 0px;
    width: 90px;
    height: 16px;
    color: #ff3333;
    font-family: tahoma;
}

.kline-head-bar-ss {
    float: left;
    padding-top: 0px;
    height: 72px;
}

#sshq ul {
    list-style-type: none;
    height: 18px;
    line-height: 18px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 13px;
}

#sshq ul li {

    display: block;
    width: 28px;
    color: #F2F2F2;
    font-size: 13px;
    font-family: tahoma;
    float: left;
    text-indent: 2px;
    margin-left: 3px;
}

#ssbjbar ul li {
    width: 45px;
    text-align: right;
    padding-right: 2px;
    color: #ff3333;
}


.kline-head-bar2 {
    /* position: fixed; */
    z-index: 10;
    right: 0;
    left: 0;
    /* top: 103px; */
    height: 30px;
    padding-right: 10px;
    padding-left: 1px;
    border-bottom: 0;
    background-color: #151515;
}

.kline-head-bar2 .head_type{
	height: 28px;
	width: 22px;
	text-align: center;
	padding-top: 6px;
	padding-left: 0px;
	padding-right: 0px;	
	font-size: 14px;
	color: #ccc;
	border-width: 0px;
 
	background-color: transparent;
	
}

.kline-head-bar3 {
    /* position: fixed; */
    z-index: 10;
    /* top: 132px; */
    height: 28px;
	padding-left: 10px;
	padding-right: 10px;
    background-color: #000;
}
.kline-head-bar3 .mui-segmented-control{
	line-height: 26px;
	border-color: #333;
}
.kline-head-bar3 .mui-segmented-control .mui-control-item{
	line-height: 26px;
	color: #CCCCCC;
	 border-color: #000;
	text-align: center;
}

.kline-head-bar3 .mui-segmented-control .mui-active{
	 
	color: #F0AD4E;
	background-color: #000;
	border-top:  1px solid #F0AD4E;

}

.zijin-head-bar0 {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0px;
    height: 35px;
    border-bottom: 0;
    background-color: #323232;
    text-align: left;
    padding-top: 9px;
    /* font-family: "microsoft yahei"; */
    font-size: 18px;
    color: peachpuff;
}

.zijin-head-bar0 a {

    text-align: center;

    /* font-family: "microsoft yahei"; */
    font-size: 18px;
    color: peachpuff;
}

.zijin-head-bar1 {
    position: fixed;
    z-index: 0;
    right: 0;
    left: 0;
    top: 35px;
    height: 25px;
    background-color: #111;
    padding-top: 2px;
	padding-left: 10px;
}
.zijin-head-bar1 a {

    text-align: center;
    font-family:tahoma;
    font-size: 13px;
    color: #ccc;
	margin-right: 10px;
}

.chart_container_zj {
    position: fixed;
    width: 100%;
    top: 60px;
    height: 500px;
    background-color: #000;
}

.header-btn {
    font-size: 13px;
    height: 27px;
    width: 33px;
    font-family: tahoma;
    position: relative;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    color: #ccc;
    border: 1px solid #222;
    background-color: transparent;
}

.header-btn2 {
    font-size: 13px;
    height: 27px;
    width: 40px;
    font-family: tahoma;
    position: relative;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    color: #ccc;
    border: 1px solid #222;
    background-color: transparent;
}

.header-btn:hover {
    color: #F0AD4E;
    background-color: darkred;
}

.chart_container {
    /* position: fixed; */
    width: 100%;
    /* top: 162px; */
    height: 400px;
    background-color: #000;
}




#poptable {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#poptable td {
    font-size: 16px;
    text-align: left;
    border-right: 1px solid #FF3333;
    padding: 6px 7px 6px 7px;
    border-bottom: 1px dashed #555;
    width: 30%;
    color: #ccc;
    width: 30%;
    background-color: #343434;
}

#poptable th {
    font-size: 16px;
    text-align: left;
    color: #fff;
    border-right: 1px solid #FF3333;
    padding: 6px 7px 6px 7px;
    border-bottom: 1px dashed #555;
    font-family: tahoma;
    width: 30%;
}

#poptable td:hover {
    color: #FFFF00;
    width: 30%;
    background-color: #CF2D28;
    border: 0px solid #F0AD4E;
    cursor: pointer;
}


.codetype {
    font-size: 13px;
    color: #fff;
    background-color: transparent;
    height: 27px;
    padding: 0;
    font-family: tahoma;
    border: 1px solid #222;
}

.index-head-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0px;
    height: 55px;
    padding-right: 10px;
    padding-left: 3px;
 
    border-bottom: 0px;
    background-color: #0F140E;
    color: peachpuff;
    text-align: center;
    padding-top: 5px;
    /* font-family: "microsoft yahei"; */
    font-size: 20px;
}

.idset {
	float: left;
	color:#fff;
	padding-top: -7px;
	padding-left: 6px;
} 

.idset:hover{
	color: #FFFF00;
	 
} 

.index_content {
    position: fixed;
    width: 100%;
    top: 51px;
    height: 200px;
    background-color: #000000;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-face-color: #20a774;
    /*移动滑块颜色*/
    scrollbar-shadow-color: #20a774;
    /*移动滑块边框颜色*/
    scrollbar-track-color: #ccc;
    /*背景颜色*/
    scrollbar-arrow-color: #ddd;
    /*箭头颜色*/
}


.index_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #333;
}


/* 滚动条的滑轨背景颜色 */

.index_content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #333;
}

.index_content::-webkit-scrollbar-thumb {
    background-color: #aa0000;
}


/* 滑块颜色 */

#hqtable {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 120%;
}

#hqtable td {
    font-size: 16px;
    text-align: left;
    border-right: 0px solid #FF3333;
    padding: 6px 7px 6px 7px;
    border-bottom: 1px solid #660000;
    width: 16%;
    color: #cccc00;
    background-color: #000000;

    font-family: tahoma;
    height: 28px;
}

#hqtable th {
    font-size: 16px;
    text-align: left;
    color: #fff;
    border-right: 0px solid #FF3333;
    padding: 6px 7px 6px 7px;
    border-bottom: 0px dashed #555;
    font-family: tahoma;
    width: 16%;
    background-color: #1C1F26;
    font-weight: normal;
}

#hqtable tr:hover td {
    color: #FFFF00;
    background-color: #CF2D28;
    border-bottom: 1px solid #660000;
    cursor: pointer;
}



.chat-head-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0px;
    height: 30px;
    padding-right: 10px;
    padding-left: 3px;
    padding-top: 5px;
    border-bottom: 0px;
    background-color: #333;
    color: peachpuff;
    text-align: center;
    /* font-family: "microsoft yahei"; */
    font-size: 18px;
    cursor: pointer;
}

.chat-head-bar:hover {
    color: #FFFF00;
}

